<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site gives weather based on your location.</p>
            <p>You just need to type your location in the search box and tap on search.</p>
            <p>It uses data from the mapbox.com and weatherstack.com .!</p>
            <img class="portrait" src="/img/dp.jpg">
            <p>Just a noob Software Developer :)</p>
        </div>
        {{>footer}}
    </body>
</html>