<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{text}}<p>
            <p><a href='https://dzone.com/articles/4-free-weather-providers-api-to-develop-weather-ap-1' target="_blank">Free Weather Providers API To Develop Weather Apps</a></p>
            <p><a href='https://weatherstack.com/' target="_blank">https://weatherstack.com/</a></p>
            <p><a href='https://openweathermap.org/api' target="_blank">https://openweathermap.org/api</a></p>
        </div>
        {{>footer}}
    </body>
</html>